img {
    max-width: 100%;
    display: block;
}

.wrapper{
    max-width: 1260px;
    width: 85%;
    margin: 0 auto;
  }

  a {
    display: inline-block;
    text-decoration: none;
      &.button {
          color: $primary;
          background-color: $secondary;
          padding: 18px 40px;
          font-size: 0.8rem;
          font-weight: bold;
          line-height: 1.2rem;
          text-align: center;
          transition: 0.3s;
          &:hover {
              background-color: $tertiary;
              color: $primary;
          }
          &:focus {
              background-color: $tertiary;
              color: $primary;
          }
      }
  }

  ul {
      list-style: none;
  }

  html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}



