
//Header Styling 
header {
    ul {
        display: flex;
        margin: 0;
        justify-content: center;
        li{
            padding: 30px;
            font-size: 1.9rem;
            text-transform: uppercase;
            height: fit-content;
        }

    }
    h2 {
        margin: 0;
        color: $primary;
        font-size: 2.5rem;
        font-weight: normal;
        text-transform: capitalize;
    }
}   

.homeHeader {
    background-image: url("../../assets/home-image-1.jpg");
    background-size: cover;
    height: 100vh;
}

.mainTitle {
    h1 {
        width: fit-content;
        color: $tertiary;
        letter-spacing: 2.4px;
        font-size: 13rem;
        font-weight: normal;
        padding: 0;
        margin-top: 250px;
        line-height: 230px;
        position: absolute; 
        z-index: 2;
        left: 29%;
    span {
        font-family: "Tulpen One";
        width: fit-content;
        color: $primary;
        font-size: 4.2rem;
        line-height: 0px;
        letter-spacing: 2.6px;
        margin: 0;
        display:block;
        padding-left: 10px;
    }
}
}

.imageContainer {
    position: absolute; 
    left: 50%;
    top: 45%;
    z-index: 1;
}

//Main Styling 

.homeSectionOne {
    background-color: $quaternary;
    min-height: 100vh;
    padding-top: 200px;
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        li {
            width: 50%;
            h3 {
                margin: 0;
            }
        }
        #home::before {
            font-family: "Font Awesome 5 Free"; font-weight: 900; content:"\f015";
            font-size: 1.2rem;
            background-color: $secondary;
            border-radius: 50%;
            padding: 10px;
            margin-right: 15px;
        }
        #people::before {
            font-family: "Font Awesome 5 Free"; font-weight: 900; content:"\f0c0";
            font-size: 1.2rem;
            background-color: $secondary;
            border-radius: 50%;
            padding: 10px;
            margin-right: 15px;
        }
        #blog::before {
            font-family: "Font Awesome 5 Free"; font-weight: 900; content:"\f15b";
            font-size: 1.2rem;
            background-color: $secondary;
            border-radius: 50%;
            padding: 10px;
            margin-right: 15px;
        }
        #phone::before {
            font-family: "Font Awesome 5 Free"; font-weight: 900; content:"\f095";
            font-size: 1.2rem;
            background-color: $secondary;
            border-radius: 50%;
            padding: 10px;
            margin-right: 15px;
        }
        p {
            padding: 0;
            margin: 0 0 3rem 3.3rem;
        }
    }
}

.homeSectionTwo {
    background-color: $quinary;
    min-height: 100vh;
    min-width: 100%;
    padding-bottom: 150px;
    

    .flexContainer {
    display: flex;
    h3 {
        margin: 100px 0 0 0;
    }
    p {
        margin: 0;
        line-height: 1.5rem;
        letter-spacing: 1.9px;
        text-align:justify;
    }
    a {
        font-family: $iconFont;
        font-size: 1.5rem;
        letter-spacing: 2px;
        font-weight: normal;
        margin: 30px 0;
        padding: 10px 25px;
    }
}
}

.homeImagesTop1 {
    position: relative;
    img {
        position: absolute;
        right: 126px;
        top: -50px;
        z-index: 2;
        box-shadow: 20px 20px $tertiary;
    }
    .homeImageTopContent {
        margin-top: 80%;
    }
    h3 {
        text-align:end;
    }
    a {
        position: absolute;
        right: 120px;
    }
}

.homeImagesTop2 {
    position: relative;
    img {
        position: absolute;
        left: 126px;
        bottom: -150px;
        z-index: 2;
        box-shadow: -20px 20px $tertiary;
    }
    .homeImageTopContent {
        margin-left: 100px;
    }
}

.homeImageTopContent {
    width: 80%;
}

.homeSectionThree {
    background-color: $quaternary;
    min-height: 50vh;
    min-width: 100%;
    padding-bottom: 150px;
    position: relative;
    h3 {
        padding-top: 150px; 
        text-align: center;
        margin: 0;
        color: $tertiary;
    }
    p {
        text-align: center;
        text-align:justify;
    }
    a {
        font-family: $iconFont;
        font-size: 1.5rem;
        letter-spacing: 2px;
        font-weight: normal;
        margin: 30px 0;
        padding: 10px 25px;
        position: absolute;
        left: 41%;
    }
}

.backgroundImage {
    background-image: url("../../assets/banner-image.jpg");
    min-height: 50vh;
    background-size: cover;
}

.homeSectionFour {
    min-height: 50vh;
    background-color: $quaternary;
    padding-bottom: 100px;
    .homeImagesBottom {
        display: flex;
    }
    img {
        width: 100%;
        max-width: 220px;
        height: 100%;
        max-height: 220px;
        margin-right: 200px;
        margin-top: auto;
        margin-bottom: auto;
        box-shadow: -20px 20px $tertiary;
    }
    h3 {
        margin: 100px 0 0 0;
        color: $tertiary;
    }
    p {
        margin: 0;
        line-height: 1.5rem;
        letter-spacing: 1.9px;
        text-align:justify;
    }
    a {
        font-family: $iconFont;
        font-size: 1.5rem;
        letter-spacing: 2px;
        font-weight: normal;
        margin: 30px 0;
        padding: 10px 25px;
    }
}

.homeGallery {
    min-height: 50vh;
    background-color: $quinary;
    ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        li {
            width: calc(33.3% - 20px);
            margin: 35px 10px;
        }
    }
    img {
        width: 100%;
        max-width: 350px;
        height: 100%;
        max-height: 350px;
    }
}

footer {
    background-color: $quaternary;
    p {
        text-align: center;
        margin: 0;
        font-size: 1rem;
    }
}
