// TulpenOne font in regular
@import url('https://fonts.googleapis.com/css2?family=Tulpen+One&display=swap');

//Chathura font in bold
@import url('https://fonts.googleapis.com/css2?family=Chathura:wght@700&display=swap');

//Chathura font in normal
@import url('https://fonts.googleapis.com/css2?family=Chathura&display=swap');

html {
    font-size: 125%;
    font-family: "Chathura";
}

.mainTitle h1, .logo {
    font-family: "Tulpen One";
}





