@import url("https://fonts.googleapis.com/css2?family=Tulpen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chathura:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chathura&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

/* site colours */
img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1260px;
  width: 85%;
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
}
a.button {
  color: #FFFFFF;
  background-color: #BF2603;
  padding: 18px 40px;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.2rem;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a.button:hover {
  background-color: #FF8327;
  color: #FFFFFF;
}
a.button:focus {
  background-color: #FF8327;
  color: #FFFFFF;
}

ul {
  list-style: none;
}

button {
  display: inline-block;
  width: 90%;
  text-decoration: none;
  border: none;
  color: #FFFFFF;
  background-color: #BF2603;
  font-family: "Tulpen One";
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: normal;
  margin: 30px 0;
  padding: 10px 25px;
  line-height: 1.2rem;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button:hover {
  background-color: #FF8327;
  color: #FFFFFF;
}
button:focus {
  background-color: #FF8327;
  color: #FFFFFF;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  font-size: 125%;
  font-family: "Chathura";
}

.mainTitle h1, .logo {
  font-family: "Tulpen One";
}

a {
  color: #FFFFFF;
}

h3 {
  font-size: 3.4rem;
  line-height: 2.9rem;
  letter-spacing: 2.2px;
  color: #FFFFFF;
}

p {
  font-size: 1.95rem;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  color: #FFFFFF;
  font-weight: normal;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
}
header ul li {
  padding: 30px;
  font-size: 1.7rem;
  text-transform: uppercase;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
header ul li:nth-child(1) {
  margin-top: 5px;
}
header ul li:nth-child(2) {
  margin-top: 5px;
}
header ul li:nth-child(4) {
  margin-top: 5px;
}
header ul li:nth-child(5) {
  margin-top: 5px;
}
header ul li:nth-child(6) {
  display: none;
}
header h2 {
  margin: 0;
  color: #FFFFFF;
  font-size: 2.7rem;
  font-weight: normal;
  text-transform: capitalize;
}

.homeHeader {
  background-image: url("../assets/home-image-1.jpg");
  background-size: cover;
  min-height: 85vh;
}
.homeHeader li:first-child a {
  color: #FF8327;
}

.mainTitle h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #FF8327;
  letter-spacing: 2.4px;
  font-size: 12rem;
  font-weight: normal;
  padding: 0;
  margin-top: 200px;
  line-height: 230px;
  position: absolute;
  z-index: 2;
  left: 35%;
}
.mainTitle h1 span {
  font-family: "Chathura";
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #FFFFFF;
  font-size: 4.2rem;
  line-height: 0px;
  letter-spacing: 2.6px;
  margin: 0;
  display: block;
  padding-left: 10px;
}

.homeHeaderImageContainer {
  position: absolute;
  left: 50%;
  top: 30%;
  z-index: 1;
}

.homeSectionOne {
  background-color: #111010;
  min-height: 100vh;
  padding-top: 200px;
  padding-bottom: 100px;
}
.homeSectionOne ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.homeSectionOne ul li {
  width: 50%;
}
.homeSectionOne ul li h3 {
  margin: 0;
}
.homeSectionOne ul #home::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f015";
  font-size: 1.2rem;
  background-color: #BF2603;
  border-radius: 50%;
  padding: 10px;
  margin-right: 15px;
}
.homeSectionOne ul #people::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0c0";
  font-size: 1.2rem;
  background-color: #BF2603;
  border-radius: 50%;
  padding: 10px;
  margin-right: 15px;
}
.homeSectionOne ul #blog::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f15b";
  font-size: 1.2rem;
  background-color: #BF2603;
  border-radius: 50%;
  padding: 10px;
  margin-right: 15px;
}
.homeSectionOne ul #phone::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f095";
  font-size: 1.2rem;
  background-color: #BF2603;
  border-radius: 50%;
  padding: 10px;
  margin-right: 15px;
}
.homeSectionOne ul p {
  padding: 0;
  margin: 0 0 3rem 3.3rem;
}

.homeSectionTwo {
  background-color: #220303;
  min-height: 100vh;
  min-width: 100%;
  padding-bottom: 150px;
}
.homeSectionTwo .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.homeSectionTwo .flexContainer h3 {
  margin: 100px 0 0 0;
}
.homeSectionTwo .flexContainer p {
  margin: 0;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
}
.homeSectionTwo .flexContainer a {
  font-family: "Tulpen One";
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: normal;
  margin: 30px 0;
  padding: 10px 25px;
}

.homeImagesTop1 {
  position: relative;
}
.homeImagesTop1 img {
  position: absolute;
  right: 126px;
  top: -50px;
  z-index: 2;
  -webkit-box-shadow: 20px 20px #FF8327;
          box-shadow: 20px 20px #FF8327;
}
.homeImagesTop1 .homeImageTopContent {
  margin-top: 80%;
}
.homeImagesTop1 h3 {
  text-align: end;
}
.homeImagesTop1 a {
  position: absolute;
  right: 120px;
}

.homeImagesTop2 {
  position: relative;
}
.homeImagesTop2 img {
  position: absolute;
  left: 126px;
  bottom: -150px;
  z-index: 2;
  -webkit-box-shadow: -20px 20px #FF8327;
          box-shadow: -20px 20px #FF8327;
}
.homeImagesTop2 .homeImageTopContent {
  margin-left: 100px;
}

.homeImageTopContent {
  width: 80%;
}

.homeSectionThree {
  background-color: #111010;
  min-height: 50vh;
  min-width: 100%;
  padding-bottom: 100px;
  position: relative;
}
.homeSectionThree .wrapper {
  width: 65%;
}
.homeSectionThree h3 {
  padding-top: 150px;
  text-align: center;
  margin: 0;
  color: #FF8327;
}
.homeSectionThree p {
  text-align: center;
  text-align: left;
  margin: 10px;
}
.homeSectionThree .submitButton {
  text-align: center;
}
.homeSectionThree .submitButton a {
  font-family: "Tulpen One";
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: normal;
  margin: 30px 0;
  padding: 10px 25px;
}

.backgroundImage {
  background-image: url("../assets/banner-image.jpg");
  min-height: 50vh;
  background-size: cover;
}

.homeSectionFour {
  min-height: 50vh;
  background-color: #111010;
  padding: 50px 0px;
}
.homeSectionFour .homeImagesBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.homeSectionFour h3 {
  color: #FF8327;
  margin: 70px 0 0 0;
}
.homeSectionFour p {
  margin: 0;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  text-align: justify;
}
.homeSectionFour a {
  font-family: "Tulpen One";
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: normal;
  margin: 30px 0;
  padding: 10px 25px;
}
.homeSectionFour .homeSectionFourImage {
  width: 95%;
  margin-right: 10%;
  margin-top: auto;
  margin-bottom: auto;
  -webkit-box-shadow: -20px 20px #FF8327;
          box-shadow: -20px 20px #FF8327;
}
.homeSectionFour .homeImageBottomContent {
  margin: auto 0;
}

.homeGallery {
  min-height: 50vh;
  background-color: #220303;
  padding: 50px 0px;
}
.homeGallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.homeGallery ul li {
  width: calc(33.3% - 20px);
  margin: 35px 10px;
}
.homeGallery img {
  width: 100%;
  max-width: 350px;
  height: 100%;
  max-height: 350px;
}

.contactHeader {
  background-image: url("../assets/contact-header-1.jpg");
  background-size: cover;
  min-height: 50vh;
  background-position: bottom;
}
.contactHeader li:nth-child(5) a {
  color: #FF8327;
}
.contactHeader h1 {
  color: #FFFFFF;
  font-size: 4.15rem;
  letter-spacing: 1.9px;
}

.contactSection {
  background-color: #111010;
  min-height: 65vh;
  color: #FFFFFF;
  letter-spacing: 1.9px;
}
.contactSection .contactIcons {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-top: 50%;
}
.contactSection .contactIcons li {
  color: #FFFFFF;
  padding: 10px;
}
.contactSection .contactIcons li:first-child {
  padding-left: 0;
}

.contactFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.address {
  font-size: 1.5rem;
  text-align: left;
}
.address :first-child {
  padding-bottom: 20px;
}
.address a {
  display: block;
}
.address address {
  font-style: normal;
}

.contactPageForm {
  background-color: #220303;
  -webkit-box-shadow: 20px 20px #FF8327;
          box-shadow: 20px 20px #FF8327;
  position: absolute;
  left: 30%;
  bottom: -5%;
}
.contactPageForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 60vw;
}
.contactPageForm form #name, .contactPageForm form #email, .contactPageForm form #message {
  border: none;
  border-bottom: solid 2px #FFFFFF;
  background-color: #220303;
  color: #FFFFFF;
  text-align: left;
  padding: 20px 10px;
  margin: 30px;
}
.contactPageForm form #name, .contactPageForm form #email {
  width: calc(50% - 80px);
}
.contactPageForm form #message {
  border: solid 2px #FFFFFF;
  width: calc(100% - 80px);
}
.contactPageForm input::-webkit-input-placeholder, .contactPageForm textarea::-webkit-input-placeholder {
  font-family: "Chathura";
  font-size: 1.5rem;
  color: #FFFFFF;
  opacity: 1;
}
.contactPageForm input::-moz-placeholder, .contactPageForm textarea::-moz-placeholder {
  font-family: "Chathura";
  font-size: 1.5rem;
  color: #FFFFFF;
  opacity: 1;
}
.contactPageForm input:-ms-input-placeholder, .contactPageForm textarea:-ms-input-placeholder {
  font-family: "Chathura";
  font-size: 1.5rem;
  color: #FFFFFF;
  opacity: 1;
}
.contactPageForm input::-ms-input-placeholder, .contactPageForm textarea::-ms-input-placeholder {
  font-family: "Chathura";
  font-size: 1.5rem;
  color: #FFFFFF;
  opacity: 1;
}
.contactPageForm input::placeholder, .contactPageForm textarea::placeholder {
  font-family: "Chathura";
  font-size: 1.5rem;
  color: #FFFFFF;
  opacity: 1;
}
.contactPageForm .submitButton {
  text-align: center;
}

.blogHeader {
  background-image: url("../assets/blog-header-1.jpg");
  background-size: cover;
  min-height: 50vh;
  background-position: bottom;
}
.blogHeader li:nth-child(4) a {
  color: #FF8327;
}
.blogHeader h1 {
  color: #FFFFFF;
  font-size: 4.15rem;
  letter-spacing: 1.9px;
}

.blogMainSection {
  background-color: #111010;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  background-color: #220303;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 25%;
  margin-top: 100px;
  margin-right: 100px;
  padding-top: 30%;
  position: relative;
}

.sidebarImage {
  position: absolute;
  left: -130px;
  top: -10px;
  width: 135%;
}

.sidebarContent {
  padding: 20px;
}
.sidebarContent h3 {
  padding: 0;
  margin: 0;
  font-size: 3rem;
}
.sidebarContent p {
  margin: 0;
}
.sidebarContent a {
  font-size: 1.95rem;
  color: #FF8327;
  margin-bottom: 40px;
}
.sidebarContent ul {
  margin: 0;
}
.sidebarContent li {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  color: #BF2603;
  font-weight: normal;
  list-style-type: disc;
}
.sidebarContent li span {
  color: #FFFFFF;
  font-size: 1.5rem;
}

.blogContent {
  position: relative;
}

.blogContentImage {
  position: absolute;
  top: -120px;
  right: -250px;
  -webkit-box-shadow: -20px 20px #FF8327;
          box-shadow: -20px 20px #FF8327;
  width: 130%;
}

.blogMainPost {
  border-top: solid 8px #FF8327;
  border-left: solid 8px #FF8327;
  border-bottom: solid 8px #FF8327;
  margin-top: 538px;
  margin-left: -42px;
  padding-left: 100px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.blogMainPost h3 {
  padding: 0;
  margin: 0;
  font-size: 3rem;
}
.blogMainPost p {
  margin-top: 0;
}
.blogMainPost p span {
  color: #FF8327;
}

.commentSection {
  padding-left: 100px;
}

.commentFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.commentFlex h4 {
  color: #FF8327;
  font-size: 1.95rem;
  margin: 0;
  letter-spacing: 2.6px;
}
.commentFlex p {
  margin: 0;
}

.commentImage {
  width: 100%;
  max-width: 94px;
  max-height: 94px;
}

.commentContent {
  margin-left: 40px;
}

#topComment {
  margin-bottom: 100px;
}

.commentForm {
  background-color: #111010;
}
.commentForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 60vw;
  margin-top: 40px;
}
.commentForm form #commentName, .commentForm form #commentEmail, .commentForm form #comment {
  border: none;
  border-bottom: solid 2px #FF8327;
  background-color: #111010;
  color: #FFFFFF;
  text-align: left;
  padding: 20px 10px;
  margin: 20px;
}
.commentForm form #commentName, .commentForm form #commentEmail {
  width: calc(50% - 80px);
  padding-bottom: 60px;
}
.commentForm form #comment {
  border: solid 2px #FF8327;
  width: calc(100% - 80px);
}
.commentForm input::-webkit-input-placeholder, .commentForm textarea::-webkit-input-placeholder {
  font-family: "Chathura";
  font-size: 1.95rem;
  color: #FFFFFF;
  opacity: 1;
}
.commentForm input::-moz-placeholder, .commentForm textarea::-moz-placeholder {
  font-family: "Chathura";
  font-size: 1.95rem;
  color: #FFFFFF;
  opacity: 1;
}
.commentForm input:-ms-input-placeholder, .commentForm textarea:-ms-input-placeholder {
  font-family: "Chathura";
  font-size: 1.95rem;
  color: #FFFFFF;
  opacity: 1;
}
.commentForm input::-ms-input-placeholder, .commentForm textarea::-ms-input-placeholder {
  font-family: "Chathura";
  font-size: 1.95rem;
  color: #FFFFFF;
  opacity: 1;
}
.commentForm input::placeholder, .commentForm textarea::placeholder {
  font-family: "Chathura";
  font-size: 1.95rem;
  color: #FFFFFF;
  opacity: 1;
}
.commentForm .nameEmail, .commentForm .commentMessage {
  text-align: center;
}
.commentForm .submitButton {
  text-align: center;
  margin-bottom: 80px;
}

footer {
  background-color: rgb(87, 87, 87);
}
footer p {
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
  border: solid rgb(87, 87, 87) 10px;
}

@media (max-width: 1130px) {
  .homeHeaderImageContainer {
    display: none;
  }

  .mainTitle h1 {
    position: static;
    width: auto;
    text-align: center;
  }
  .mainTitle h1 span {
    width: auto;
    margin-left: -140px;
  }
}
@media (max-width: 1100px) {
  .blogContentImage {
    position: static;
    margin-top: 100px;
  }

  .blogMainPost {
    margin-top: 50px;
  }
}
@media (max-width: 910px) {
  header ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  header ul li:nth-child(1) {
    display: none !important;
  }
  header ul li:nth-child(2) {
    display: none !important;
  }
  header ul li:nth-child(4) {
    display: none !important;
  }
  header ul li:nth-child(5) {
    display: none !important;
  }
  header ul li:nth-child(6) {
    display: block;
    color: #FFFFFF;
    font-size: 2rem;
    opacity: 0.5;
    padding: 0 30px;
  }

  .homeSectionOne {
    padding-top: 40px;
    min-height: 50vh;
  }
  .homeSectionOne h3 {
    font-size: 3rem;
  }

  .homeSectionTwo {
    min-height: 70vh;
  }

  .homeSectionThree {
    padding-bottom: 0;
  }
  .homeSectionThree h3 {
    padding-top: 100px;
  }

  .backgroundImage {
    background-position: 70%;
    min-height: 30vh;
  }

  .homeGallery {
    min-height: 30vh;
  }

  .contactHeader h1, .blogHeader h1 {
    text-align: center;
    font-size: 6rem;
  }

  .contactSection {
    min-height: 75vh;
  }

  .contactPageForm {
    position: static !important;
    margin: 40px 40px;
  }

  .blogMainSection .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogMainSection .sidebarImage {
    display: none;
  }
  .blogMainSection .sidebar {
    padding: 0;
    margin: 40px auto;
  }
  .blogMainSection .blogContentImage {
    margin: 0 auto;
    width: 70%;
  }
  .blogMainSection .blogMainPost {
    border: solid 8px #FF8327;
    padding: 20px;
    margin: 60px auto;
  }
  .blogMainSection .commentSection {
    padding: 20px;
  }
  .blogMainSection .commentSection h3 {
    margin-top: 0;
  }
}
@media (max-width: 740px) {
  .contactFlex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .contactInfo {
    margin: 0 auto;
  }
}
@media (max-width: 560px) {
  .wrapper {
    width: 99%;
  }

  .mainTitle h1 {
    font-size: 8rem !important;
    margin: 50px !important;
    line-height: 7rem !important;
  }
  .mainTitle h1 span {
    font-size: 2rem !important;
  }

  .homeHeader {
    min-height: 50vh;
  }

  .homeSectionOne li {
    width: 90% !important;
    margin-left: 20px;
  }

  .homeSectionTwo {
    min-height: 40vh;
    padding-bottom: 40px;
  }
  .homeSectionTwo .flexContainer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .homeSectionTwo img {
    position: static;
    width: 80%;
    margin: 10px auto;
  }
  .homeSectionTwo .homeImageTopContent {
    margin: 0 auto;
    text-align: left;
  }
  .homeSectionTwo .homeImagesTop1 .homeImageTopContent p {
    text-align: end;
  }
  .homeSectionTwo .homeImagesTop1 .homeImageTopContent a {
    right: 50px;
  }

  .homeSectionThree {
    margin: 0 auto;
  }
  .homeSectionThree .wrapper {
    width: 90%;
  }
  .homeSectionThree p {
    text-align: center;
  }
  .homeSectionThree h3 {
    padding-top: 50px;
  }

  .homeSectionFour .homeImagesBottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .homeSectionFour .homeSectionFourImage {
    display: none;
  }
  .homeSectionFour .homeImageBottomContent {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .homeSectionFour .homeImageBottomContent p {
    text-align: center;
  }
  .homeSectionFour .homeImageBottomContent h3 {
    margin-top: 0;
  }

  .contactHeader {
    min-height: 60vh;
  }
}